@use '../utils' as *;

/*----------------------------------------*/
/*  1.6 Buttons
/*----------------------------------------*/
.si-circle-btn {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--si-border-4);
    width: 200px;
    height: 200px;
    place-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.9s ease-out;
    @media #{$md}{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    @media #{$xs}{
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
    }
    &:hover{
        border: 1px solid transparent;
    }
    &-title{
        font-size: 20px;
        color: var(--si-common-black);
        padding-top: 16px;
        display: inline-block;
        @media #{$md}{
            font-size: 17px;
        }
        @media #{$xs}{
            font-size: 17px;
        }
    }
    &-dot{
        position: absolute;
        bottom: 0;
        left: 32px;
        width: 0px;
        height: 0px;
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        line-height: 20px;
        border-radius: 50%;
        background-color: var(--si-theme-primary);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        z-index: -1;
    }
    &:hover .si-circle-btn-dot {
        width: 420px;
        height: 420px;
    }
}
// Button Style Two
.si-btn-link{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px 0 0;
    & .btn-text {
        overflow: hidden;
    }
    & .btn-text span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        line-height: 1;
        text-shadow: 0 30px 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        color: var(--si-common-gray-2);
        text-decoration: underline;
    }
    &:hover .btn-text span {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    & .btn-icon img {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover .btn-icon img {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
// Button Style Three
.link-effect {
  position: relative;
  overflow: hidden;
  display: block;
  height: 17px;
  line-height: normal;
}
.link-effect .effect-1 {
  display: block;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.3s;
}
.link-effect:hover .effect-1 {
  top: -100%;
}
.si-client-wrap li a .link-effect {
    height: 120px;
    @media #{$xs}{
        height: 88px;
    }
}
// Button Style Four
.si-btn-text{
    background: var(--si-common-black);
    color: var(--si-common-white);
    padding: 12px 26px 10px 26px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    transition: 0.6s;
}
.si-btn-icon{
    background: var(--si-theme-primary);
    padding: 15px 19px 14px 19px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--si-common-black);
    transition: 0.6s;
}
.si__contact__btn a:hover .si-btn-text{
    background: var(--si-theme-primary);
}
.si__contact__btn a:hover .si-btn-text{
    background: var(--si-theme-primary);
}
.si__contact__btn a:hover .si-btn-icon{
    background: var(--si-common-black);
    color: var(--si-common-white);
}